:root {
  --vp-c-brand-1: #aac811;
  --vp-c-brand-2: #839b0d;
  --vp-c-brand-3: #aac811;
  --vp-c-brand-soft: #aac81120;

  --vp-home-hero-image-background-image: linear-gradient(
    90deg,
    rgba(213, 240, 81, 0.1) 0%,
    rgba(213, 240, 81, 0.1) 100%
  );
  --vp-home-hero-image-filter: blur(40px);
}
